a[class^="btn-"],
a[class^="btn-"]>a {
	text-decoration: none;
}

.btn-1:is(a, div, button),
.btn-2:is(a, div, button) {
	display: inline-block;
	padding: $_12px 2rem;
	color: var(--button_text);
	font-family: var(--font_primary);
	font-size: $_14px;
	font-weight: var(--weight_normal);
	text-align: center;
	background-color: var(--button_background);
	border: 1px solid var(--button_border);
	border-radius: var(--border-radius);
	@include trans;

	&:hover {
		color: var(--button_focus_text);
		background-color: var(--button_focus_background);
		border-color: var(--button_focus_border);
		cursor: pointer;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.3;
		filter: grayscale(0.7);

		&:hover {
			color: var(--button_text);
			background-color: var(--button_background);
			border-color: var(--button_border);
		}
	}
}

.btn-1.alt:is(a, div, button) {
	color: var(--button_border);
	background-color: white;
	border-color: var(--button_border);

	&:hover {
		color: var(--button_focus_text);
		background-color: var(--button_focus_background);
		border-color: var(--button_focus_border);
	}
}

.btn-2:is(a, div, button) {
	color: var(--button_2_text);
	background-color: var(--button_2_background);
	border-color: var(--button_2_border);

	&:hover {
		color: var(--button_2_focus_text);
		background-color: var(--button_2_focus_background);
		border-color: var(--button_2_focus_border);
	}
}


[class^="btn-"].big:is(button, a, *>a) {
	width: calc(100% - 100px);
	min-width: max-content;
	padding-block: 1rem;
	margin-inline: auto;
	font-size: $_20px;
}

/***********************************/


.btn-full,
a.btn-full,
.btn-full>a {
	width: 100%;
	padding-block: 1rem;
	font-size: 1rem;
}



a.btn-action {
	>button {
		font-size: 0.8rem;

		&:hover {
			color: var(--button_action_focus_text);
			background-color: var(--button_action_focus_background);
		}
	}
}