* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	overflow-x: hidden;
}

ul,
ol {
	list-style: none;
}

blockquote,
q {
	quotes: none;

	&:before,
	&:after {
		content: '';
		content: none;
	}
}

table {
	border-collapse: separate;
	border-spacing: 2px;
}

svg {
	stroke-linecap: round;
	stroke-linejoin: round;

	path {
		fill-rule: evenodd;
		clip-rule: evenodd;
	}
}