@import '../vars';

.btn-1 {
	display: inline-block;
	padding: 12px 18px;
	color: var(--color_0);
	font-family: var(--font_primary);
	font-size: $_14px;
	text-align: center;
	background-color: var(--color_2);
	border: 2px solid var(--color_2);
	transition: all ease-in 0.2s;
}