/**
 * POPUP
 */

.pillars-popup {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(0px);
	opacity: 0;
	visibility: hidden;
	transition: opacity ease-in 0.2s, backdrop-filter ease-in 0.4s;

	&__wrapper {
		display: flex;
		min-height: 100%;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem;
	}

	&__content {
		width: auto;
		min-width: 340px;
		max-width: 600px;
		min-height: 240px;
		position: relative;
		padding: 1rem;
		background-color: white;
		border-radius: 0.5rem;
		box-shadow: var(--shadow);
		opacity: 0;
		transform: translate(0px, -100%);
		@include trans;

		&:hover {
			box-shadow: var(--shadow_hover);
		}
	}

	&__close {
		width: 2.5rem;
		height: 2.5rem;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"><path xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" d="m5.00073 17.5864c-.3905.3906-.39044 1.0237.00012 1.4142s1.02372.3905 1.41421-.0001l5.58524-5.5862 5.5857 5.5857c.3905.3905 1.0237.3905 1.4142 0s.3905-1.0237 0-1.4142l-5.5858-5.5858 5.5854-5.58638c.3904-.39056.3904-1.02372-.0002-1.41421-.3905-.3905-1.0237-.39044-1.4142.00012l-5.5853 5.58627-5.58572-5.58579c-.39052-.39052-1.02369-.39052-1.41421 0-.39053.39053-.39053 1.02369 0 1.41422l5.58593 5.58587z" fill="%23222222" fill-rule="evenodd"/></svg>');
		border: 1px solid var(--button_border);
		border-radius: 0.5rem;
		@include trans;

		&:hover {
			background-color: var(--button_focus_background);
			background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"><path xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" d="m5.00073 17.5864c-.3905.3906-.39044 1.0237.00012 1.4142s1.02372.3905 1.41421-.0001l5.58524-5.5862 5.5857 5.5857c.3905.3905 1.0237.3905 1.4142 0s.3905-1.0237 0-1.4142l-5.5858-5.5858 5.5854-5.58638c.3904-.39056.3904-1.02372-.0002-1.41421-.3905-.3905-1.0237-.39044-1.4142.00012l-5.5853 5.58627-5.58572-5.58579c-.39052-.39052-1.02369-.39052-1.41421 0-.39053.39053-.39053 1.02369 0 1.41422l5.58593 5.58587z" fill="%23ffffff" fill-rule="evenodd"/></svg>');
			border-color: var(--button_focus_border);
			cursor: pointer;
		}
	}

	nav.pager ul:not(.pager) li,
	ul.pager li {
		display: flex;
		width: 2rem;
		height: 2rem;
		align-items: center;
		justify-content: center;
		color: var(--button_border);
		font-family: var(--font_primary);

		line-height: 2;
	}
}

.pillars-popup.open {
	opacity: 1;
	visibility: visible;
	backdrop-filter: blur(10px);

	.pillars-popup__content {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.pillars-popup__content {
	&.video-content {
		padding: 0;
		background: transparent;
		width: 100%;
		max-width: calc(100% - 14rem);

		&.--clip {
			width: fit-content;
		}

		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
		}

		iframe[src*="frame=clip"] {
			width: auto;
			min-width: 340px;
			aspect-ratio: 8 / 16;
		}
	}

	.video-wrapper {
		text-align: center;
	}
}