/**
 * THEME STYLE SLIDER
 */
.vip-main-slider {
	width: 100%;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		position: relative;
		z-index: -1;
		background-color: white;
		transform: translateY(-0.25rem);
	}

	&__container {
		width: 100%;
	}
}

.cards-slider {
	width: 100%;

	&__container {
		width: 100%;
	}
}