@import '../vars';
@import '../addons/tabs';

[class^="products-columns-"] {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

.woocommerce-loop-product {
	&__link {
		.cover {
			display: flex;
			align-items: center;
			justify-content: center;
			max-height: 360px;
			max-width: 360px;
			position: relative;
			border-radius: var(--border-radius);
			overflow: hidden;

			img {
				width: 100%;
			}

			.hover-light {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				@include trans;
			}

			&:hover {
				.hover-light {
					opacity: 1;
				}
			}

			&:after {
				content: 'Охраняется авторским правом ©';
				display: inline-block;
				padding: 0.25rem 0.5rem;
				position: absolute;
				bottom: 0.5rem;
				left: 0.5rem;
				z-index: 2;
				color: var(--color_primary);
				font-family: var(--font_primary);
				font-size: $_12px;
				background: rgba($color: #ffffff, $alpha: 0.5);
				border-radius: 0.5rem;
			}
		}

		.product-info {
			display: block;
			padding: 0.5rem 0;
		}

	}

	&__title {
		padding: 0;
		margin-bottom: 0.5rem;
		font-size: 1rem;
		font-weight: var(--weight_normal);
		border: 0;
	}
}

.woocommerce-loop-product__link {
	.cover.--animate:not(:hover) {
		.hover-light {
			animation: alter-view 16s ease-in-out infinite;
		}
	}
}

@keyframes alter-view {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	65% {
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.pillars-wc {

	&-product {
		&-tags {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			z-index: 2;
		}

		&-tag {
			color: white;
			font-size: 0.625em;
			text-transform: uppercase;
		}
	}

	&-products {
		&__section {
			width: 100%;

			&+.pillars-wc-products__section {
				margin-top: 1.5rem;
			}
		}
	}

	&-term {
		&__title-image {
			display: flex;
			min-height: 246px;
			width: 100%;
			position: relative;
			overflow: hidden;
			border-radius: var(--border-radius);
			justify-content: space-between;
			flex-direction: column;

			h1 {
				position: absolute;
				color: white;
				margin: 2rem 1rem 1rem;
				border-color: white;
			}

			&+* {
				margin-top: $_20px;
			}

			.media-ratio {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 246px;

				&>img {
					min-height: 246px;
					border-radius: 1rem;
				}
			}

			.pillars-wc-term-description__header {
				position: relative;
				padding: 0 0 1.25rem;
				background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 90%, transparent);
			}
		}
	}
}

@media (max-width: ($break_xs - 1)) {
	.woocommerce-loop-product {
		&__link {
			.cover {
				&:after {
					content: '©';
					font-weight: var(--weight_bold);
				}
			}
		}
	}
}

@media (max-width: ($break_md - 1)) {
	.pillars-wc-term__title-image {
		&.--up-right {
			h1 {
				right: 0;
				top: 0;
			}
		}

		&.--bottom-left {
			h1 {
				left: 0;
				top: 168px;
			}
		}

		&.--bottom-right {
			h1 {
				right: 0;
				top: 168px;
			}
		}
	}
}

@media (min-width: $break_md) {
	.pillars-wc {
		&-term {
			&__title-image {
				h1 {
					position: relative;
					margin: 2rem 2rem 0;
				}

				.media-ratio {
					width: 100%;
					height: 100%;
					position: absolute;
				}

				.pillars-wc-term-description__header {
					padding: 2rem 2rem 1.25rem;
					margin-top: 0;
					color: white;
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 70%, transparent);
				}

				&.--up-right {
					align-items: flex-end;
				}

				&.--bottom-left {
					justify-content: flex-end;
					align-items: flex-start;
				}

				&.--bottom-right {
					justify-content: flex-end;
					align-items: flex-end;
				}
			}
		}
	}
}