@import '../vars';

.pillars-wc {
	&-product {
		&-tabs {
			padding-block: 0;

			&__nav {
				padding: 1rem $_24px;
				font-weight: var(--weight_light);
				background: white;
				border-radius: $_20px;
				box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

				&.--fixed {
					width: 100vw;
					position: fixed;
					top: 0;
					left: 0;
					z-index: 9;
					margin: auto;
					background: rgba(255, 255, 255, 0.9);
					border-radius: 0 0 1.25rem 1.25rem;
					backdrop-filter: blur(8px);
					animation: show-navs 0.3s linear 1;

					.pillars-wc-product-tabs__wrapper {
						max-width: 1350px;
						margin-inline: auto;
						padding-inline: var(--up);
					}

					&+.pillars-wc-product-tabs__nav-feeder {
						position: relative;
						height: 3.375rem;
						opacity: 0;
					}
				}

				&.--thumb {
					padding: 0;
					font-weight: var(--weight_normal);
					border-radius: 0;
					box-shadow: none;

					&:not(.--fixed) {
						position: relative;
						z-index: 1;

						&+.pillars-wc-product-tabs__nav-feeder {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							z-index: 2;
							width: 100%;
							height: 2.25rem;
							border: 1px solid var(--color_alter);
							border-radius: 1rem;
							pointer-events: none;
						}
					}

					&.--fixed {
						width: calc(100% - var(--up)*2);
						left: var(--up);
						margin-top: 0.25rem;
						background: white;
						backdrop-filter: none;
						border-radius: 1rem;
						box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

						img {
							display: none;
						}

						.pillars-wc-product-tabs__wrapper {
							padding-inline: 0;
							background: white;
							border: 2px solid white;
							border-radius: 1rem;
						}
					}
				}
			}

			&__wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				font-size: 1rem;

				&.--product {
					column-gap: 4rem;
				}

				&.--thumb {
					justify-content: space-between;
					padding-inline: 1px;
					font-size: var(--size_primary);
				}
			}

			&__item {
				position: relative;
				padding-inline: 1rem;
				@include trans;

				&:hover {
					font-weight: var(--weight_medium);
				}

				&:after {
					content: '';
					width: 100%;
					height: 0;
					position: absolute;
					left: 0;
					bottom: -1rem;
					background: transparent;
					@include trans;
				}

				&.active {
					font-weight: var(--weight_medium);

					&:after {
						height: 2px;
						background: var(--color_primary);
					}
				}

				&.--thumb {
					padding-inline: 0;
					text-align: center;

					&:after {
						display: none;
					}

					>a {
						>img {
							width: auto;
							height: 110px;
							border-radius: var(--border-radius);
							@include trans;
						}

						>span {
							display: block;
							height: 2.25rem;
							padding: 0.5rem 1.5rem;
							border-radius: 1rem;
							@include trans;
						}
					}

					&:hover,
					&.active {
						>a {
							>img {
								transform: scale(1.05);
							}

							>span {
								font-weight: var(--weight_semibold);
								background-color: #f3f3f3;
							}
						}
					}
				}
			}
		}

		&-tab {
			&__container {
				padding: 1rem 0;

				&:last-child {
					padding-bottom: 0;
				}

				&.--shipping {
					position: relative;
					padding: 2rem 0;

					&:before {
						content: '';
						display: inline-block;
						width: 100vw;
						height: 100%;
						position: absolute;
						left: calc(50% - 50vw);
						top: 0;
						background: var(--color_background_secondary);
					}

					.pillars-wc-product-tab__title {
						color: white;
						margin-bottom: 0;
					}
				}
			}

			&__title {
				padding: 0;
				margin-bottom: 0.5em;
				font-size: $_20px;
				border: 0;
			}

			&__videoreview {
				display: block;
				position: relative;
				border-radius: var(--border-radius);
				overflow: hidden;

				&__cover {
					position: relative;
					height: 380px;
				}

				&__title {
					display: inline-block;
					padding: 1rem 1.5rem;
					position: absolute;
					top: 0.5rem;
					left: 0.5rem;
					color: white;
					font-size: $_18px;
					line-height: 1;
					background-color: rgba(255, 255, 255, 0.25);
					border-radius: var(--border-radius);
					box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.25) inset;
					backdrop-filter: blur(0.25rem);
				}

				&__btn {
					width: 64px;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					color: #fffded;
					transform: translate3d(-50%, -50%, 10px);
				}
			}

			&__links {
				&-list {
					&-item {
						display: flex;
						align-items: center;
						margin-bottom: 1em;

						>img {
							width: $_20px;
							height: $_20px;
							margin-right: 0.5rem;
						}
					}
				}
			}

			&__model-3d {
				margin-top: 1rem;
			}
		}
	}
}

#category-tabs {
	position: relative;
}