@media (max-width: ($break_lg - 1)) {
	.txt-center-lg {
		text-align: center !important;
		justify-content: center !important;
	}

	.txt-left-lg {
		text-align: left !important;
		justify-content: flex-start !important;
	}

	.txt-right-lg {
		text-align: right !important;
		justify-content: flex-end !important;
	}

	.f-row-reverse-lg {
		flex-direction: row-reverse !important;
	}

	.f-column-reverse-lg {
		flex-direction: column-reverse !important;
	}
}