@media (min-width: $break_lg) {
	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.66666667%;
	}

	.col-lg-10 {
		width: 83.33333333%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.66666667%;
	}

	.col-lg-7 {
		width: 58.33333333%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.66666667%;
	}

	.col-lg-4 {
		width: 33.33333333%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-1 {
		width: 8.33333333%;
	}
}