@import '../vars';

/**
 * ИНФОРМЕР
 */
.informer-slider {
	width: 100%;
	overflow: hidden;
	border-radius: var(--border-radius) var(--border-radius) 0 0;

	&__container {
		width: 100%;
	}
}

.informer-item {
	position: relative;

	&__thumb {
		display: block;
		height: 440px;
		position: relative;

		.media-ratio {
			>img {
				border-radius: var(--border-radius);
			}
		}
	}

	&__header {
		max-width: 600px;
		position: absolute;
		top: 2.5rem;
		left: 0;
		padding-left: $_12px;
		padding-right: $_12px;
	}

	&__title {
		color: white;
		font-size: 2rem;
	}

	&__category {
		color: white;
		font-size: $_14px;
		font-weight: var(--weight_light);
		text-transform: uppercase;
	}

	&__content {
		max-width: 450px;
		position: absolute;
		bottom: 4rem;
		left: 0;
		padding-left: $_12px;
		padding-right: $_12px;

		p {
			color: white;
			font-size: 1rem;
			font-weight: var(--weight_light);
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		padding: $_10px $_20px;
		color: var(--color_primary);
		font-size: $_14px;
		font-weight: var(--weight_light);
		background: white;
		border: 1px solid var(--color_primary);
		border-radius: $_32px;

		&-wrapper {
			display: inline-block;
			padding: 0.5rem 0.5rem 0 0;
			position: absolute;
			bottom: 0;
			left: 0;
			background: white;
			border-radius: 0 1.75rem 0 0;
		}
	}
}

@import '../styles/swiper';

/**
 * RESPONSIVE
 */
@media (min-width: $break_sm) {}

@media (min-width: $break_md) {}

@media (min-width: $break_lg) {
	.informer-slider {
		height: 594px;
	}

	.informer-item {
		&__thumb {
			height: 550px;
		}

		&__header {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		&__title {
			font-size: 2.25rem;
		}

		&__content {
			bottom: 5rem;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		&__link {
			padding: 0.875rem 2rem;

			&-wrapper {
				padding: 1rem 1rem 0 0;
				border-radius: 0 2.5rem 0 0;
			}
		}
	}
}

@media (min-width: $break_xl) {}

@media (max-width: ($break_lg - 1)) {}

@media (max-width: ($break_md - 1)) {}

@media (max-width: ($break_sm - 1)) {
	.informer-slider {
		height: 484px;

		.pillars-slider__buttons {
			display: none;
		}
	}
}