@import '../vars';

.post-article {
	--size_primary: 1rem;

	*:is(p:not([class]), figure) {
		margin-bottom: 0.75em;

		&>a>img {
			border-radius: 0 0 2rem 0;
		}
	}

	*:is(p, figure)>a:has(img) {
		display: inline-block;
		position: relative;

		&:after {
			content: 'перейти';
			display: inline-block;
			padding: 0.25rem 1.5rem 0.25rem 1rem;
			position: absolute;
			right: 1.5rem;
			bottom: 1.5rem;
			color: white;
			font-size: 0.75em;
			text-transform: uppercase;
			background: var(--color_action) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0005 12L6 4.99969L7.99974 3L17 12L7.99974 21L6 19.0003L13.0005 12Z' fill='white'/%3E%3C/svg%3E%0A") 78px 4px no-repeat;
			background-size: 18px 18px;
			border-radius: var(--border-radius);
			@include trans;
		}

		&:hover {
			border-bottom: 0 !important;

			&:after {
				color: white;
				background-color: var(--color_action_hover);
			}
		}
	}

	*:is(p, figure)>a[title]:has(img) {
		position: relative;

		&:before {
			content: attr(title);
			display: inline-block;
			padding: 0.4rem 1.25rem;
			position: absolute;
			top: 1rem;
			left: 1rem;
			color: white;
			background-color: rgba(255, 255, 255, 0.25);
			border-radius: 2rem;
			box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.25) inset;
			backdrop-filter: blur(0.5rem);
			transition: all ease-in 0.3s;
		}
	}

	.wp-block {
		*:is(.h1, h2, .h2, h3) {
			padding-left: 0;
			font-weight: var(--weight_medium);

			&+* {
				margin-top: 0.75em;
			}
		}

		*+*:is(.h1, h2, .h2, h3) {
			margin-top: 1.125em;
		}
	}
}

.posts-block {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

[class^="col-portfolio-"] {
	position: relative;
	width: 100%;
	min-height: 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.portfolio {
	&-title {
		font-size: 1.375rem;
		font-weight: var(--weight_light);
		line-height: 1.25;
	}

	&-video-review {
		display: flex;
		width: 100%;
		height: auto;
		padding: var(--up);
		overflow: hidden;

		iframe {
			width: 100%;
			height: auto;
			max-width: 900px;
			border-radius: var(--border-radius);
			aspect-ratio: 16 / 9;
		}
	}

	&-gallery {
		column-count: 2;
		gap: 0;

		&-item {
			position: relative;
			padding: var(--up);
			overflow: hidden;

			a {
				display: flex;
			}

			img {
				max-width: 100%;
				height: auto;
				border-radius: var(--border-radius);
			}
		}
	}
}

/**
 * RESPONSIVE
 */
@media (min-width: $break_sm) {
	.post-article {
		p>a:has(img:is(.alignleft, .alignright)) {
			display: inline-block;
			max-width: 60%;
			margin-block: 0.25rem 1rem;
		}

		p>a:has(img.alignleft) {
			margin-inline: 0 2rem;
			float: left;
		}

		p>a:has(img.alignright) {
			margin-inline: 2rem 0;
			float: right;
		}
	}
}

@media (min-width: $break_md) {
	.posts-block {
		.--item+.--item {
			margin-top: 2rem;
		}
	}

	.portfolio {
		&.row {
			display: grid;
			grid-template-columns: 1fr 450px;
			grid-template-rows: auto 1fr;
			grid-auto-flow: dense;
		}

		&-title {
			font-size: 1.5rem;
		}

		&-video-review {
			iframe {
				border-radius: 2rem;
			}
		}

		&-gallery {
			&-item {
				img {
					border-radius: 2rem;
				}
			}
		}
	}

	.col-portfolio-title {
		grid-column: 2/2;
		grid-row: 1/1;
	}

	.col-portfolio-gallery {
		grid-column: 1/1;
		grid-row: 1/span 2;
	}

	.col-portfolio-summary {
		grid-column: 2/2;
		grid-row: 2/2;
	}

	.portfolio-wrapper {
		padding-right: var(--up);
	}
}