@import '../vars';

@media (min-width: $break_sm) {

	.col-product-gallery {
		width: 600px;
	}

	.col-product-summary {
		width: 27rem;
	}

	.col-product-additional {
		flex: 1 0 10rem;
	}

	.col-product-tabs {
		flex: 1 0 36rem;
		margin-top: 3rem;
	}

	.product-thumbnails {

		&__images {
			width: 100px;
			height: 448px;
			margin-right: 1rem;

			.swiper-slide {
				border: 0;
				transition: all ease-in .1s;

				>* {
					padding: 0;
					transition: all ease-in .1s;
				}

				&:hover {
					border: 3px solid var(--color_action);
				}
			}

			.swiper-slide-thumb-active {
				border: 3px solid var(--color_action_hover);

				>* {
					padding: 0.125rem;
				}
			}
		}

		&__container {
			height: 100%;
			overflow: hidden;
		}

		&__wrapper {
			display: block;

			[class*=product-gallery__image] {
				a {
					display: flex;
				}
			}

			img {
				transition: all ease-in .1s;
			}

			.selected img {
				padding: $_4px;
				border: $_4px solid var(--color_alter);
			}
		}
	}

	.product-gallery {
		display: flex;

		&__images {
			max-width: 484px;
			padding-bottom: 0;
		}

		&__container {
			width: 100%;
			box-shadow: 0px 40px 80px -20px rgba(40, 41, 50, 0.45);
		}

		&__wrapper {
			>div {
				flex-shrink: 0;
				max-width: 100%;
				margin-right: 0;
			}

			>div:first-child {
				margin-left: 0;
			}
		}
	}

	.product-attributes {
		&__wrapper {
			max-width: 36rem;

			>div {
				width: 100%;
			}
		}

		&-item {
			&__label {
				max-width: 12rem;
			}

			&__value {
				max-width: 24rem;
			}
		}
	}
}