@import '../../vars';

@media (max-width: ($break_sm - 1)) {
	:root {
		--size_primary: 0.875rem;
		--size_primary_small: 0.75rem;
		--size_primary_big: 1.25rem;
		--size_secondary: 1rem;
		--header_height: 3.5rem;
		--border-radius: 1.25rem;
	}

	.h1,
	.h2,
	h1:not([class]),
	h2 {
		font-size: $_24px;
	}

	h5 {
		font-size: $_14px;
	}

	.body-header__top {
		height: var(--header_height);
		border-bottom: 1px solid var(--color_primary);

		.row {
			width: 100%;
			justify-content: flex-end;
			margin-inline: 0;
		}

		.col-logo {
			align-items: center;
		}

		.col-account {
			width: 25%;
		}
	}

	.body-header__bottom {
		height: var(--header_height);

		.row {
			width: 100%;
			flex-wrap: nowrap;
			column-gap: $_8px;
			margin-inline: 0;
		}

		.col-menu {
			width: var(--header_height);
			position: fixed;
			top: 0;
			left: 1rem;
		}
	}

	.section-title-image {

		&__cover {
			height: 100%;
			position: absolute;

			.image-radius:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, .5);
			}
		}

		&__content {
			padding-block: 3rem;
			position: relative;
		}
	}

	body {
		>header {
			padding: 0 1rem;
			position: sticky;
			top: 0;
			left: 0;
			z-index: 99;

			.custom-logo-link {
				max-width: 7rem;

				.custom-logo {
					max-width: 7rem;
					height: auto;
				}
			}

			ul.account>li>a {
				width: 2rem;
				height: 2rem;
			}

			ul.contacts {
				flex-wrap: wrap;
				padding: 1rem 1.25rem 0.25rem;
				gap: 0.75rem;
				font-size: 1rem;
				background: white;

				>li {
					width: 100%;
					margin: 0;
				}

				&:after {
					content: '';
					display: inline-block;
					width: 100%;
					border-bottom: 1px solid var(--color_secondary);
				}
			}

			ul.icons-list {
				display: flex;
				flex-wrap: wrap;
				gap: 0.75rem;
				padding: 1rem 1.25rem;
				background: white;

				a {
					display: flex;
					color: var(--color_label);

					svg {
						width: 2rem;
						height: 2rem;
					}
				}

				&:before {
					content: '';
					display: inline-block;
					width: 100%;
					border-bottom: 1px solid var(--color_secondary);
				}
			}

			/* MAIN MENU */
			.navbar-collapse {
				width: 100%;
				height: calc(100vh - 2*var(--header_height));
				flex-wrap: wrap;
				align-content: flex-start;
				padding: 0;
				position: fixed;
				top: calc(var(--header_height) * 2);
				left: -120vw;
				z-index: 99;
				overflow-x: hidden;
				overflow-y: auto;
				background: rgba(0, 0, 0, 0.8);
				backdrop-filter: blur(1rem);
				@include trans;
			}

			.navbar-nav {
				flex-wrap: wrap;
				background-color: white;

				>li {
					display: block;
					width: 100%;

					>a {
						display: block;
						padding: 0 0.375rem 0 1.25rem;
						margin: 0;
						line-height: 2;
						text-align: left;

						>span {
							position: relative;
							padding: 0.25rem 0.75rem 0.25rem 0;
						}
					}
				}

				.menu-item-has-children {
					>.sub-menu {
						width: 100%;
						position: absolute;
						left: -120vw;
						margin-left: 0;
						padding-left: 1.5rem;
						text-transform: initial;
					}

					a>span:after {
						transform: rotate(0deg);
						@include trans;
					}

					>.sub-menu.sub-class {
						flex-wrap: wrap;

						li[class^="product_group-"] {
							width: 100%;
							padding: 0.375rem 0.75rem;

							>span {
								display: flex;
								align-items: center;
								gap: 0.5rem;
								line-height: 2;
							}

							>.sub-menu {
								position: relative;
								left: 0;
								padding-left: 0.5rem;
							}
						}
					}
				}

				.menu-item-has-children.active,
				li[class^="product_group-"].active {
					>.sub-menu {
						position: relative;
						left: 0;
					}

					a>span:after,
					>span:after {
						transform: rotate(180deg);
						@include trans;
					}
				}
			}

			.btn-category {
				padding: $_8px 1rem;
				font-size: $_12px;
				white-space: nowrap;
				border-radius: $_12px;
			}
		}

		&.collapse>header {
			z-index: 9;
		}

		>main {
			>section {
				padding-top: 2.5rem;
				padding-bottom: 2.5rem;
			}
		}
	}

	.form-search-products {
		&__wrapper {
			gap: 0.5rem;
			padding: $_8px;
			border-radius: $_12px;
		}

		&__input {
			width: calc(100% - 1.5rem);
			font-size: $_12px;
		}

		&__submit {
			width: 1rem;
			height: 1rem;
		}
	}

	nav.breadcrumbs ul:not(.breadcrumbs),
	ul.breadcrumbs {
		width: calc(100% - var(--up)*4);
		margin: 0 calc(var(--up) * 2);
	}
}