@import '../../vars';

@media (max-width: ($break_sm - 1)) {
	:root {
		--size_primary: 0.875rem;
		--size_primary_small: 0.75rem;
		--size_primary_big: 1.25rem;
		--size_secondary: 1rem;
		--border-radius: 1.25rem;
	}

	.h1,
	.h2,
	h1:not([class]),
	h2 {
		font-size: $_24px;
	}

	h5 {
		font-size: $_14px;
	}

	.section-title-image {

		&__cover {
			height: 100%;
			position: absolute;

			.image-radius:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, .5);
			}
		}

		&__content {
			padding-block: 3rem;
			position: relative;
		}
	}

	body {
		>main {
			>section {
				padding-top: 2.5rem;
				padding-bottom: 2.5rem;
			}
		}
	}
}