@import '../../vars';

@media (min-width: $break_sm) {

	h1:not([class]),
	.h1,
	h2:not([class]),
	.h2 {
		font-size: 1.75rem;
		padding-left: 1rem;

		&+* {
			margin-top: 1.25rem;
		}
	}

	h3 {
		font-size: $_24px;

		&+* {
			margin-top: $_24px;
		}
	}

	h4 {
		font-size: $_20px;

		&+* {
			margin-top: $_20px;
		}
	}

	h5 {
		font-size: $_18px;

		&+* {
			margin-top: $_18px;
		}
	}

	.section-title-image {
		height: 394px;

		&__content {
			padding: 3rem;
		}
	}

	body {
		>main {
			min-height: calc(100vh - 250px);

			>section {
				padding-top: 3.5rem;
				padding-bottom: 3.5rem;
			}
		}
	}

	.category-item {
		&__title {
			padding: $_24px;
			font-size: $_24px;
		}
	}
}