@import '../../vars';

@media (min-width: $break_sm) {

	h1:not([class]),
	h2,
	.h1,
	.h2 {
		padding-left: 1rem;
	}

	.body-header__top,
	.body-header__bottom {
		height: 5rem;

		.container {
			padding: 0 10px;
		}
	}

	.section-title-image {
		height: 394px;

		&__content {
			padding: 3rem;
		}
	}

	body {

		>header {
			margin: auto;

			.row {
				justify-content: space-between;
			}

			/* MAIN MENU */
			nav {
				width: 100%;
				height: 100%;
			}

			.navbar-default,
			.navbar-collapse {
				display: flex;
				width: 100%;
				align-items: center;
			}

			.navbar-header {
				display: none;
			}

			/**
			 * MAIN MENU
			 */
			.navbar-nav {
				justify-content: space-around;

				>li {
					>a {
						@include trans;

						>span {
							padding-block: 1.25rem;
							position: relative;

							/*
							&:before {
								content: '';
								display: block;
								width: 0;
								height: 2px;
								position: absolute;
								left: 50%;
								bottom: 0;
								background-color: var(--color_nav_link);
								@include trans;
							}
							*/
						}

						&:hover {
							color: var(--color_nav_link_hover);
							font-weight: var(--weight_semibold);

							/*
							>span:before {
								left: 0;
								width: 100%;
								transform: translateX(0);
							}
							*/
						}
					}

					/*
					&.current-menu-item a>span:after {
						left: 1rem;
						width: calc(100% - 2rem);
						transform: translateX(0);
					}
					*/
				}

				.sub-menu {
					background-color: white;
					border: 1px solid var(--color_alter);
					border-radius: 0 1.5rem 1.5rem;

					a {
						>span {
							display: block;
							padding: $_4px $_8px;
							@include trans;
						}

						&:hover {
							>span {
								font-weight: var(--weight_semibold);
								padding-inline: 1rem 0;
							}
						}
					}
				}

				.menu-item-has-children {
					position: relative;

					>.sub-menu {
						position: absolute;
						left: 0;
						z-index: -1;
						padding: 0.5rem;
						opacity: 0;
						@include trans;
						pointer-events: none;
					}
				}

				.menu-item-has-children:not(.unhover) {
					&:hover {
						>a {
							font-weight: var(--weight_semibold);
						}

						>.sub-menu {
							left: 0;
							opacity: 1;
							z-index: 10;
							pointer-events: all;
						}
					}
				}
			}

			.navbar-nav.catalog-menu>li:first-child>a>span {
				padding-left: 0;
			}

			#menu-header-catalog.navbar-nav {
				.sub-menu {
					overflow: hidden;
				}

				.sub-menu-container {
					display: grid;
					grid-template-columns: 160px 1fr;
				}

				.sub-menu.sub-class {
					display: flex;
					padding: 0 0.5rem 1.5rem;
					justify-content: space-around;
					border: 0;

					li[class^="product_group-"] {
						>span {
							display: block;
							padding: $_8px;
							font-weight: var(--weight_semibold);
							white-space: nowrap;
							border-bottom: 1px solid #aaa;
						}

						>a {
							display: block;
							padding-block: $_8px;
							@include trans;

							&:hover {
								font-weight: var(--weight_semibold);
							}
						}

						&.active {
							>a {
								font-weight: var(--weight_semibold);
							}
						}
					}

					li[class="product_group-urban"] {
						.sub-menu {
							display: flex;
							width: max-content;
							max-height: 300px;
							flex-direction: column;
							flex-wrap: wrap;
							column-gap: 1rem;

							>li {
								max-width: 200px;

								span {
									white-space: normal;
								}
							}
						}
					}
				}

				.sub-menu-wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 3rem;
					grid-column: 1/3;
					justify-content: center;

					.catalog-item {
						max-width: 110px;
						opacity: 1;
						@include trans;

						&:hover {
							font-weight: var(--weight_semibold);
							transform: scale(1.05);
						}

						&:is(.product_cat-581, .product_cat-51) {
							overflow: visible;

							&::after {
								content: 'ЕАЭС 042';
								padding: 0.25rem 0.5rem;
								position: absolute;
								top: 0.25rem;
								right: -0.25rem;
								color: white;
								font-size: 0.75em;
								line-height: 1;
								background: var(--color_action);
								border-radius: var(--border-radius);
							}
						}
					}

					&.hide {
						.catalog-item {
							opacity: 0;
						}
					}
				}

				.new-products {
					>a {
						display: block;
						padding: $_8px;
						@include trans;

						&:hover {
							font-weight: var(--weight_semibold);
						}

						abbr {
							padding: 0.25rem 0.5rem;
							margin-left: 0.5em;
							color: white;
							font-size: 0.75em;
							background: var(--color_action);
							border-radius: var(--border-radius);
							border: 0;
						}
					}
				}
			}

			#menu-item-catalog {
				&.show {
					>a {
						font-weight: var(--weight_semibold);
					}

					>.sub-menu {
						left: 0;
						opacity: 1;
						z-index: 10;
						pointer-events: all;
					}
				}
			}
		}

		>main {
			min-height: calc(100vh - 250px);

			>section {
				padding-top: 3.5rem;
				padding-bottom: 3.5rem;
			}
		}
	}

	.category-item {
		&__title {
			padding: $_24px;
			font-size: $_24px;
		}
	}
}