h1,
.h1,
h2,
.h2,
h3,
h4 {
	font-family: var(--font_primary);
}

h1 {
	margin: auto 1rem;
	font-size: 2rem;
	text-align: left;
	border: 0;
}

h2 {
	font-size: 1.625rem;
	font-weight: var(--weight_medium);
}

h3 {
	margin-bottom: 1em;
	font-size: 1.125rem;
	font-weight: var(--weight_medium);
}

h4 {
	margin-bottom: 1em;
	font-size: 1rem;
	font-weight: var(--weight_semibold);
}

.block.--p {
	padding: 1rem;
	background: white;
}

.--placeholder {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	border: 1px dashed var(--color_border);

	p {
		max-width: 20rem;
		color: var(--color_border);
		text-align: center;
	}
}

.--screen {
	min-height: calc(100vh - 6rem);
	margin: 0.5rem;
}