:root {
	/*
	--blue-400: #42a5f5;
	--blue-800: #1565c0;

	--green-700: #689f38;
	--green-900: 	;

	--silver-300: #dce1e6;
	--silver-700: #626d7a;
	*/

	--silver-200: #e1e1e6;
	--silver-900: #18191a;

	--color_border_alter: var(--silver-200);

	--background_ais_main: var(--silver-900);
	--background_ais_sidebar: rgb(17, 17, 17);

	/* --background_ais_secondary: var(--green-700); */

	/*
	--font_primary: 'system-ui';

	--color_primary: var(--green-900);
	--color_primary_light: var(--green-700);
	--color_secondary: var(--silver-700);
	--color_thirdy: var(--silver-300);

	--color_link: var(--blue-800);
	--color_link_active: var(--blue-400);
	*/
}