@import '../../vars';

@media (max-width: ($break_sm - 1)) {

	.pillars-popup__close {
		border: 0;
	}

	/**
	 * TODO нужно оптимизировать в common
	 */

	table.shop_table_responsive.cart:not(.popup-table) {
		width: calc(100% - var(--up) * 4);
		margin-inline: calc(var(--up) * 2);
	}

	table.shop_table_responsive.cart {
		tr {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			position: relative;

			&:first-child {
				td:first-child {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
			}

			&>td:first-child {
				padding-left: 0;
			}

			&>td:last-child {
				padding-right: 0;
			}
		}

		tbody {

			tr:nth-child(2n) td {
				background-color: rgba(0, 0, 0, .025);
			}

			.product-thumbnail {
				flex: 1 1 70px;
			}

			.product-name {
				flex: 1 1 180px;
				line-height: 1.1;

				.variation {
					font-size: 13px;

					p {
						font-size: 13px;
					}
				}

				.woocommerce-Price-amount {
					display: none;
				}
			}

			.product-price {
				display: flex;
				flex: 1 1 100px;
				align-items: center;
				justify-content: flex-end;
				padding-left: 0;
			}

			.product-quantity {
				display: flex;
				flex: 1 1 50px;
				align-items: center;
				justify-content: center;
				padding: 9px 0;
			}

			.product-subtotal {
				display: flex;
				flex: 1 1 100px;
				align-items: center;
				justify-content: flex-end;
				flex-wrap: wrap;
				padding-right: 0;

				.woocommerce-Price-amount {
					font-size: $_18px;
					text-align: right;
				}

				.discount {
					.woocommerce-Price-amount {
						font-size: $_12px;
					}
				}
			}

			.product-remove {
				position: absolute;
				top: 0;
				left: 40px;
				padding: 0;
				background-color: rgba(0, 0, 0, 0.025);

				a.remove {
					font-size: 2em;
				}
			}
		}
	}

	.btn-to-cart {
		width: 100%;
		margin-top: 0.5rem;

		>* {
			width: 100%;
		}
	}


	.pillars-wc-cart {
		&-order-pagination {
			gap: 0;

			li {
				a {
					display: inline-block;

					>span {
						width: 2.5rem;
						height: 2.5rem;
						margin-inline: auto;
						font-size: $_24px;
						line-height: 1.6667;
					}

					>p {
						font-size: $_14px;
					}
				}

				&.arrow {
					>svg {
						display: none;
					}

					&:after {
						display: none;
					}

					&:before {
						width: 100%;
						margin-bottom: 1.25rem;
					}
				}
			}
		}
	}

	.pillars-wc-product-tabs {
		&__nav {
			overflow-x: auto;
		}

		&__wrapper {
			flex-wrap: nowrap;
			column-gap: 2rem;
			white-space: nowrap;
		}
	}
}