@media (min-width: $break_xl) {
	.pillars-wc {
		&-term {
			&__title-image {
				height: auto;
				position: relative;
				overflow: hidden;
				border-radius: 0;

				.media-ratio {
					display: initial;

					>img {
						height: auto;
						position: relative;
					}
				}
			}
		}
	}
}