/**
 * RESPONSIVE WC Product MIN-SM
 */
.pillars-wc-product {
	&-attributes {
		&-item {
			&__label {
				width: 280px;
				white-space: nowrap;
			}

			&__value {
				min-width: 280px;
				width: calc(100% - 280px);
			}
		}
	}

	&-tab {
		&__container {
			padding: 1.5rem 0;

			&.--shipping {
				padding: 4.5rem 0;
				margin: 2rem auto;
			}
		}

		&__title {
			font-size: $_20px;
			margin-bottom: 1em;
		}

		&__videoreview {
			max-width: 1000px;
			aspect-ratio: 16 / 9;

			&__cover {
				height: 560px;
			}

			&__title {
				padding: 1.5rem 2rem;
				top: 2rem;
				left: 2rem;
				font-size: $_18px;
			}

			&__btn {
				width: 100px;
			}
		}
	}

	&-tags {
		top: 1rem;
		right: 1rem;
	}
}

.pillars-select {
	&__toggle {
		cursor: pointer;
	}

	&__options {
		.pillars-select__option {
			&:hover {
				font-weight: var(--weight_semibold);
				cursor: pointer;
			}
		}
	}
}

.chroma-item {
	&__title {
		&>* {
			padding: 0.75rem 1rem 1rem 1.5rem;
		}
	}
}

.woocommerce-loop-product__link {
	.cover.--animate:not(:hover) {
		.hover-light {
			animation: alter-view 20s ease-in-out infinite;
		}
	}
}

@keyframes alter-view {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	66% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}